.credit-card-form {
  margin-left: 40px;
  max-width: 480px;
  .error {
    border-color: red;
  }

  .error-message {
    color: red;
    font-size: 0.8rem;
  }
}

.card-logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.number-logo-container {
  display: flex;
  justify-content: space-between;
}
