.shipping-form {
  .error {
    border-color: red; // Cambia el color del borde a rojo cuando se aplica la clase error
  }

  .error-message {
    color: red; // Cambia el color del mensaje de error a rojo
    font-size: 0.8rem; // Ajusta el tamaño del texto del mensaje de error
  }
}
