$color-green: #44d62c;
$mobile-menu-text-color: #888888;
$card-icon-color: #666666;

$card-content-background-color: #222;
$card-content-description-color: #adadad;
$card-content-title-color: #eee;
$card-content-background-image-color: #111;

$btn-hover-color: #77ff62;
$btn-font-color: #000000;

$footer-background-color: #000000;
$footer-text-color: #adadad;
$footer-secondary-text-color: #999999;
