.details-container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
  grid-template-columns: auto;

  @include for-tablet {
    grid-template-columns: auto auto;
  }
}

#product-name-details {
  color: $color-green;
}

.img-details-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.info-details-container {
  display: grid;
  justify-items: center;
  text-align: center;
  align-content: center;
  margin-right: 30px;
  margin-left: 30px;
}

.quantity-controls {
  display: flex;
  justify-content: center;
}

#card-btn {
  max-width: fit-content;
}
